@model FeriaDeLibro.Web.Models.EventModel
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Administración de Eventos</h1>
    
        
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Eventos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Curso</th>
                            <th>Descripcion</th>
                            <th style="width:230px">Acción</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Curso</th>
                            <th>Descripcion</th>
                            <th style="width:230px">Acción</th>
                        </tr>
                    </tfoot>
                    <!--seteamos los campos con cada dato traido desde el servlet SvOdontologo-->
                    <tbody>
                        @if (Model.Events.Any())
                        {
                            @foreach (var item in Model.Events)
                            {
                                <tr>
                                    <!--variable id seteada con id usuario como "id_usuxxx" para ser mandada al servlet-->
                                    @* <td id="@item.EventId">@item.EventId</td> *@
                                    <td id="@item.EventId">@item.Name</td>
                                    <td>@item.EventDate</td>
                                    <td>@item.EventTime</td>
                                    <td>@item.Course.CourseName</td>
                                    <td>@item.EventDescription</td>

                                    <!--botones editar y eliminar-->

                                    <td class="btn-container"  style="display: flex; width:auto; justify-content: space-between" >
                                    
                                        <form asp-controller="Event" asp-action="EditInit" method="post" class="d-inline">
                                            <input type="hidden" name="eventId" value="@item.EventId" />
                                            <button type="submit" class="btn btn-primary">Editar</button>
                                        </form>
                                        <form asp-controller="Event" asp-action="Delete" method="post" class="d-inline" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este evento?');">
                                            <input type="hidden" name="eventId" value="@item.EventId" />
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    
                                        @* @* <form asp-controller="Event" asp-action="Delete" method="post">
                                            <button type="submit" class="btn btn-danger btn-user btn-block d-flex w-auto align-items-center">
                                                <i class="fas fa-trash-alt"></i>  Eliminar
                                            </button>
                                            <input type="hidden" name="eventId" value=" @item.EventId">
                                        </form>

                                        <form asp-controller="Event" asp-action="EditInit" method="get">
                                            <button type="submit" class="btn btn-primary btn-user btn-block d-flex w-auto align-items-center ">
                                                <i class="fas fa-pencil-alt"></i> Editar
                                            </button>
                                            <input type="hidden" name="eventId" value=" @item.EventId">

                                        </form>
 *@ 
                                        @* <a asp-controller="Event" asp-action="EditInit" asp-route-id="@item.EventId" class="btn btn-primary">Editar</a> *@
                                        @* <a asp-controller="Event" asp-action="Delete" method="post" asp-route-id="@item.EventId" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este evento?');">Eliminar</a> *@
                                    </td>

                                </tr>
                            }
                        }          
                        
                    </tbody>
                </table>
                <div>
                    <a asp-action="Initializer" class="btn btn-outline-primary btn-sm">Crear evento</a>
                </div>
            </div>
        </div>
    </div>

</div>